[user]
	email = {{ .email }}
	name = Aleksei Olshanskiy
[gitget]
    root = {{ .homeDir }}/Git
    skip-host = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
