# What protocol to use when performing git operations. Supported values: ssh, https
git_protocol: https
# What editor glab should run when creating issues, merge requests, etc.  This is a global config that cannot be overridden by hostname.
editor:
# What browser glab should run when opening links. This is a global config that cannot be overridden by hostname.
browser:
# Set your desired markdown renderer style. Available options are [dark, light, notty] or set a custom style. Refer to https://github.com/charmbracelet/glamour#styles
glamour_style: dark
# Allow glab to automatically check for updates and notify you when there are new updates
check_update: false
# Whether or not to display hyperlink escapes when listing things like issues or MRs
display_hyperlinks: false
# configuration specific for gitlab instances
hosts:
  {{.chezmoi.config.data.workGit}}:
    token: {{.chezmoi.config.data.workGitToken}}
    api_host: {{.chezmoi.config.data.workGit}}
    git_protocol: https
    api_protocol: https
    user: {{.chezmoi.config.data.workEmail | splitList "@" | first}}
# Default GitLab hostname to use
host: {{.chezmoi.config.data.workGit}}
