[data]
    name = "Alexey Olshanskiy"
    ghEmail = {{ promptString "github email" | quote }}
    ghSignKey = {{ promptString "github signing key" | quote }}
    workEmail = {{ promptString "work email" | quote }}
    workSignKey = {{ promptString "work signing key" | quote }}
    workGit = {{ promptString "work git domain" | quote }}
    workGitToken = {{ promptString "work git token" | quote }}
    workArtifactory = {{ promptString "work artifactory domain" | quote }}
    workArtifactoryToken = {{ promptString "work artifactory token" | quote }}
